.svg-Advice-dims {
	width: 447.42px;
	height: 511.12px;
}

.svg-AppStore-dims {
	width: 140.5px;
	height: 45px;
}

.svg-AppStore_large-dims {
	width: 235px;
	height: 75px;
}

.svg-Bank-dims {
	width: 80px;
	height: 80px;
}

.svg-CashBack-dims {
	width: 512px;
	height: 512.22px;
}

.svg-DGreen-dims {
	width: 57.99px;
	height: 19px;
}

.svg-DRed-dims {
	width: 57.99px;
	height: 19px;
}

.svg-Friends-dims {
	width: 80px;
	height: 80px;
}

.svg-GoUp-dims {
	width: 54.99px;
	height: 54.99px;
}

.svg-GooglePlay-dims {
	width: 140.5px;
	height: 45px;
}

.svg-GooglePlay_large-dims {
	width: 235px;
	height: 75px;
}

.svg-KB_01-dims {
	width: 95px;
	height: 120px;
}

.svg-KB_02-dims {
	width: 95px;
	height: 120px;
}

.svg-MoneyBag-dims {
	width: 80px;
	height: 80px;
}

.svg-P2P-dims {
	width: 25px;
	height: 25px;
}

.svg-Percent-dims {
	width: 80px;
	height: 80px;
}

.svg-Safety-dims {
	width: 25px;
	height: 25px;
}

.svg-SavlLogo_black-dims {
	width: 97.99px;
	height: 34px;
}

.svg-SavlLogo_white-dims {
	width: 97.99px;
	height: 34px;
}

.svg-ScrollDown-dims {
	width: 54.99px;
	height: 54.99px;
}

.svg-Taxes-dims {
	width: 392.54px;
	height: 452.34px;
}

.svg-Tick_purple-dims {
	width: 14px;
	height: 10.73px;
}

.svg-Tick_red-dims {
	width: 14px;
	height: 10.73px;
}

.svg-Updates-dims {
	width: 25px;
	height: 25px;
}

.svg-facebook-dims {
	width: 37px;
	height: 37px;
}

.svg-instagram-dims {
	width: 37px;
	height: 37px;
}

.svg-symbol--svg--sprite.symbol-dims {
	width: 0px;
	height: 0px;
}

.svg-telegram-dims {
	width: 37px;
	height: 37px;
}

.svg-vk-dims {
	width: 37px;
	height: 37px;
}

